.app{
    background: #f4f4f8;
    width: 100%;
    .userCenter{
        max-height: 9000rem;
    }.userBox{
        max-height: 9000rem;
        a{
            font-size:15px;
            line-height: 32px;
            height: 32px;
            display: block;
            position: relative;
            background: #fff;
            color:#333;
            box-sizing: border-box;
            overflow: hidden;
            padding: 0 28px;
            .label{
                margin-right: 8px;;
                font-size:14px;

            }
        }
    }
}

.fl{
    float: left;
}
.fr{
    float:right;
}

.userItem{
    margin-top:10px;
}

.clearfix{
    clear: both;
}


.foot_nav{
    padding-top: .53333rem;
    padding-bottom: .53333rem;
    line-height: .53333rem;
    width: 100%;
    a{
        color: #666;
        font-size: .46933rem;
        line-height: .53333rem;
        margin: 0 auto;
        width: 31%;
        border-right: 1px solid #ebebeb;
    }
}

.user_box_person{
    position: relative;
    color: #fff;
    overflow: hidden;   
    .user{
        display: block;
    color: #fff;
    width: 100%;
    margin-top: .98133rem;
    margin-bottom: 1.06667rem;
    overflow: hidden;
    .head_img{
        width: 2.304rem;
        height: 2.304rem;
        border-radius: 50%;
        float: left;
        margin-left: .768rem;
        border: 2px solid #fff;
        overflow: hidden;
    }.message{
        width: auto;
        float: left;
        margin-left: .512rem;
        .tel{
            font-family: PingFangSC-Regular;
            font-size: .68267rem;
            color: #fff;
            height: .93867rem;
            line-height: .93867rem;
        }.message_detal{
            width: 100%;
            height: .85333rem;
            margin-top: .46933rem;
            padding-right: .10667rem;
            span{
                position: relative;
                display: block;
                float: left;
                margin: 0;
                font-size: .46933rem;
                height: .68267rem;
                line-height: .68267rem;
                background: #f3414a;
                border: 1px solid #ff8282;
                border-radius: 2.13333rem;
                padding-left: .21333rem;
                padding-right: .59733rem;
                margin-right: .21333rem;
                color: #fff;
            }
        }
    }
    }
}