.am-tabs-default-bar-underline{
    border: 1px solid #ff464e;
}
.am-tabs-default-bar{
    width: 50% !important;
}
.am-tabs-tab-bar-wrap{
    width: 100%;
    background: #fff;
    z-index: 999;
}
.goods{
    margin-top:0.4348rem; 
}