.list {
    width: 100%;
    justify-content: space-between;

    .list_item {
        width: 49.4%;
        float: left;
        margin-right: 0.08533333333333333rem;
        margin-top: 0.08533333333333333rem;

        a {
            cursor: pointer;
            flex: 1;

            .list_item_content {
                height: 100%;
                background-color: #fff;
                width: 100%;

                .list_img {
                    width: 100%;
                    position: relative;

                    img {
                        width: 100%;
                        display: block;
                    }
                }

                .list_price {
                    padding-left: 0.3413333333333333rem;
                    padding-right: 0.3413333333333333rem;
                    color: #bbb;
                    font-size: 0.4693333333333333rem;
                    line-height: 0.9386666666666666rem;
                    margin-top: 0.256rem;
                    display: flex;
                    align-items: center;
                    position: relative;

                    .list_newprice {
                        font-size: 0.64rem;
                        color: #ff464e;
                        margin-right: 0.17066666666666666rem;
                    }

                    .list_oldprice {
                        text-decoration: line-through;
                        color: #bbb;
                        font-size: 0.4693333333333333rem;
                        line-height: 0.9386666666666666rem;
                    }
                }

                .list_title {
                    position: relative;
                    font-size: 0.512rem;
                    color: #3b3b3b;
                    padding-left: 0.3413333333333333rem;
                    padding-right: 2.6453333333333333rem;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin-bottom: 0.512rem;

                    p {
                        color: #bbb;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0.3413333333333333rem;
                        font-size: 0.4266666666666667rem;
                    }
                }
            }
        }
    }
}