.login_head{
    height: 44px;
    height: 44px;
    width: 100%;
    max-width: 16rem;
    min-width: 8rem;
    overflow: inherit;
    position: relative;
    z-index: 199;
    border-bottom: 1px solid #dedede;
    .login_bg{
        background: linear-gradient(150deg,#ff5a61 50%,#fd631c);
        a{
            display: block;
            width: 45px;
            height: 45px;
           
                // padding: 10px;
                // height: 25px;
                // width: 25px;
            img{
                width:100%;
                height: 100%;
            }
        }
    }
}
.login_Fsize{
    text-align: center;
    cursor: default;
    // display: inline-block;
    width: 100%;
    text-indent: 5%;
    position: absolute;
    padding-left: 36px;
    padding-right: 36px;
    z-index: 1;
    box-sizing: border-box;
    color: rgb(82, 45, 45);
    font-size: 18px;
    line-height: 44px;
    height: 44px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
}
.login_color{
    color:#fff;
}

.login_reg{
    position: absolute;
    top:0;
    right:0;
    font-size: 18px;
    line-height: 44px;
    height: 44px;
}
.am-list-line{
    position: relative;
}

.yanzhengmaA{
    display: block;
    z-index: 100;
    color: #000;
    width: 74px;
    height: 32px;
    position: absolute !important;
    top:50px !important;
    right:12px !important;
}
.am-tabs-tab-bar-wrap .am-tabs-default-bar {
    width: 100% !important;
}
.am-tabs-default-bar-content{
    display: flex;
    width: 100%
}
.am-tabs-default-bar-tab{
    flex:1;
}


#login_l{
    margin-bottom: 52px;
    font-size: 14px;
    line-height: 37px;
    height: 37px;
    clear: both;
    position: relative;
    .freeLogin {
        position: relative;
        clear: both;
        float: left;
        text-align: right;
        padding-left:40px;
        .ck{
            width: 0;
            height: 0;
            left: 0;
            top: 0;
            opacity: 0;  
           
        }.before{
            display: inline-block;
            top:4px;
            margin-top:17px;
            height: 18px;
            width: 18px;
            border-color: #d1c7c7;
            background: #ff464e; 
            position: absolute;
            left: 17px;
            top: -10px;
            border: 1px solid #999;
            img{
                width: 100%;
                padding-bottom:4px; 
            }
        }
    }a{
        font-size:14px;
        color:#999;
        float: right;;
    }
}


.wap_app{
    margin: 0;
    padding: 0;
    font-size:14px;
    margin-bottom: 20px;
    h3{
        margin-bottom: 30px;
        font-size:12px;
        font-weight: 400;
    }.third_app{
        padding-bottom: 23px;
        a{
            display: block;
            margin-left: 24px;
            margin-right: 24px;
            height: 32px;
            width:68px;
            float: left;
            img{
                width: 100%;
            }
        }
    }
}
/*清除浮动（不管）*/
.clearfix:before,.clearfix:after {  /*清楚浮动*/
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
.protection{
    font-size: 11px;
    line-height: 22px;
    padding-top: 13px;

    li{
        display: inline-block;
        
        span{
            line-height: 22px;
            height: auto;
        }   
        img{
            margin-right: 10px;
            height: 22px;
            width: auto;
        }
    }
}



.am-list-item .am-input-item .Login_sendCode{
    position: relative;
}

 .Login_sendCode_a{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000000;
    font-size: 14px;
    line-height: 32px;
    height: 32px;
    position: absolute;
    top: 2.1rem;
    right: 1.8125rem;
    color: #999
}