.App {
  text-align: center;
}
body,html{
    font-size: 23.45px !important;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.am-tab-bar::-webkit-scrollbar {
    display: none;
  }
  #tab-bar.demo {
    display: flex;
    flex-direction: column;
  }
  #tab-bar .demoName {
    height: 40px;
  }
  #tab-bar .demo-preview-item .am-tab-bar {
    background-color: white;
  }
