.nav {
    margin-top: 0rem;
    height: 3.5856rem;
    width: 100%;
    display: flex;
    overflow: hidden;
    .nav_item {
        height: 3.5856rem;
        margin: 0 -1px 0 0;
        font-size: 0;
        flex:1;
        float: left;
        a {
            width: 100%;
            height: 100%;
            display: inline-block;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            box-sizing: border-box;
            float: left;
        }
        .fengqiang{
            background-image: url("https://goods6.juancdn.com/jas/190716/a/a/5d2d4a9033b0897f694f9bc6_270x242.png?imageMogr2/quality/85!/format/png");
        }
        .miaosha{
            background-image: url("https://goods1.juancdn.com/jas/190716/1/8/5d2d4ad933b0897c4f30eb18_270x242.png?iopcmd=convert&Q=85&dst=png");
        }
        .temai{
            background-image: url("https://goods8.juancdn.com/jas/190716/f/7/5d2d4ae9b6f8ea3d934647dc_270x242.png?imageMogr2/quality/85!/format/png");
        }
        .chaoshi{
            background-image: url("https://goods1.juancdn.com/jas/190716/1/d/5d2d4afab6f8ea3d6c78cace_270x242.png?iopcmd=convert&Q=85&dst=png");
        }
    }
}